.nav-link, .cor-w{
    color: white;
}

.nav-link:hover, .cor-w:hover{
    color: yellow;
}

#titulo{
    color: white;
    text-align: center;
    margin-left: 0;
    margin-top: 2%;
}

.sticky-top{
    position: static;
}

.slaide-1{
    color: rgba(6, 4, 36, 0.993);
}

.slaide-2{
    color: rgba(172, 13, 13, 0.993);
}

.slaide-3{
    color: rgba(253, 237, 6, 0.747);
}

.logo-norte{
    width: 80px;
    height: 80px;
    margin-top: 2px;
}

#busca{
    padding-bottom: 1%;
}

#menu-srv{
    padding-left: 3%;
    padding-bottom: 1.5%;
}

#faleconosco{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: gainsboro;
}

.fale{
    background-color: yellow;
    padding-top: 1%;
    padding-bottom: 0.5px;
    margin-bottom: 1%;
    margin-top: 1%;    
}

.menuf{
    background-color: rgb(245, 238, 238);
    font-size: 1.15rem;
    margin-bottom: 2%;
}

footer, footer>div, .corpo{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.mapa-loja{
    width: 100%;
    height: 100%;
    border: 0rem;
}

.whats{
    display: flex;
    width:42px;
    height:42px;
    justify-content: center;
    align-items: center;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
    margin-left: 2%;
}

.whats:hover{
    text-decoration: none;
}

.card{
    box-shadow: 1rem 1rem 1rem silver;
}

.card-lnk{
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
}

.text {
    font-size: 2.3rem;
    color: silver;
}

.post-footer {
    background-color: rgb(245, 238, 238);
}

.social{
    display: flex;
    justify-content: center;
}

.share-title{
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 238, 238);
    width: 32%;
}

.fa-facebook-square{
    color: rgb(47, 47, 141);
}

.fa-twitter-square{
    color: dodgerblue;
}

.fa-google-plus-square{
    color: rgb(194, 19, 19);
}

.fa-whatsapp-square{
    color: green;
}

.fa-linkedin{
    color:rgb(16, 35, 206);
}

.fa-envelope-square{
    color: darkred;
}

.fa-print{
    color: black;
}

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-google-plus-square:hover, .fa-whatsapp-square:hover, .fa-linkedin:hover, .fa-envelope-square:hover, .fa-print:hover{
    color: rgba(190, 188, 24, 0.863);
}

@media screen and (max-width: 800px){
    header>div{
        flex-direction: column;
    }
}